In [8]:
from sklearn.datasets import load_boston
import pandas as pd
import numpy as np 

boston_df=load_boston()
boston_df;

In [11]:
df=pd.DataFrame(boston_df['data'],columns=boston_df['feature_names'])
df['target']=pd.Series(boston_df['target'])
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [12]:
from sklearn.datasets import load_boston

boston_df=load_boston()

In [14]:
df=pd.DataFrame(boston_df['data'],columns=boston_df['feature_names'])
df['target']=pd.Series(boston_df['target'])
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [15]:
len(df)

506

In [16]:
x=df.drop('target',axis=1)
y=df['target']

In [20]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y)

In [21]:
from sklearn.linear_model import Ridge

In [23]:
clf=Ridge()

clf.fit(x_train,y_train); 
clf.score(x_test,y_test)

0.7620223179314765

In [32]:
from sklearn.ensemble import RandomForestRegressor

In [33]:
rfc=RandomForestRegressor(n_estimators=100)

In [35]:
rfc.fit(x_train,y_train);

In [36]:
rfc.score(x_test,y_test)

0.8958524323419135

In [40]:
np.array(y_test[:4])

array([20.2, 19.6, 33.1, 23.8])

In [41]:
rfc.predict(x_test[:4])

array([20.806, 20.414, 31.568, 23.861])

# Classification Problem

In [42]:
df=pd.read_csv('data/heart-disease.csv')
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [43]:
df.isna().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [44]:
df.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

In [45]:
df.head(2)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1

In [46]:
len(df)

303

In [48]:
x=df.drop('target',axis=1)
y=df['target']

In [49]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y)

In [50]:
from sklearn.svm import SVC

In [53]:
model=SVC(gamma='scale')
model.fit(x_train,y_train);

In [54]:
model.score(x_test,y_test)

0.6842105263157895

In [66]:
from sklearn.svm import LinearSVC

model1=LinearSVC()
model1.fit(x_train,y_train);

C:\Users\Md Hadiuzzaman\Anaconda3\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

In [67]:
model1.score(x_test,y_test)

0.7368421052631579

In [69]:
from sklearn.ensemble import RandomForestClassifier

model2=RandomForestClassifier(n_estimators=100)

model2.fit(x_train,y_train)
model2.score(x_test,y_test)

0.7894736842105263