In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('data/car-sales-extended-missing-data.csv'); 
df.head()

     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0
4  Nissan   Blue       181577.0    3.0  14043.0

In [3]:
df.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [4]:
df.dropna(subset=['Price'],inplace=True)

In [5]:
df.isna().sum()

Make             47
Colour           46
Odometer (KM)    48
Doors            47
Price             0
dtype: int64

In [6]:
x=df.drop('Price',axis=1)
y=df['Price']

In [7]:
x.head()

     Make Colour  Odometer (KM)  Doors
0   Honda  White        35431.0    4.0
1     BMW   Blue       192714.0    5.0
2   Honda  White        84714.0    4.0
3  Toyota  White       154365.0    4.0
4  Nissan   Blue       181577.0    3.0

In [9]:
df.dtypes

Make              object
Colour            object
Odometer (KM)    float64
Doors            float64
Price            float64
dtype: object

# Handle null value

In [12]:
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

categorical_fet=['Make','Colour']
number_fet=['Odometer (KM)']
door_fet=['Doors']

categorical_imp= SimpleImputer(strategy='constant',fill_value='Missing')
number_imp=SimpleImputer(strategy='mean')
door_imp=SimpleImputer(strategy='mean')

transformer=ColumnTransformer([
    ('categorical_imp',categorical_imp,categorical_fet),
    ('number_imp',number_imp,number_fet),
    ('door_imp',door_imp,door_fet)
])

transformed_X=transformer.fit_transform(x)
transformed_X

x=pd.DataFrame(transformed_X,columns=['Make','Colour','Odometer (KM)','Doors'])
x.head()

     Make Colour Odometer (KM) Doors
0   Honda  White         35431     4
1     BMW   Blue        192714     5
2   Honda  White         84714     4
3  Toyota  White        154365     4
4  Nissan   Blue        181577     3

In [13]:
x.isna().sum()

Make             0
Colour           0
Odometer (KM)    0
Doors            0
dtype: int64

In [14]:
len(x)

950

In [15]:
len(y)

950

# Make data numerical

In [19]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

fetures=['Make','Colour','Doors']
one_hot=OneHotEncoder()

transformer=ColumnTransformer([
    ('one_hot',one_hot,fetures)
],remainder='passthrough')

transformed_X=transformer.fit_transform(x)

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
x_train,x_test,y_train,y_test=train_test_split(transformed_X,y,test_size=.2)

In [25]:
x_train.shape,y_train.shape,x_test.shape,y_test.shape

((760, 16), (760,), (190, 16), (190,))

In [26]:
from sklearn.ensemble import RandomForestRegressor

clf=RandomForestRegressor(n_estimators=100)
clf.fit(x_train,y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [27]:
clf.score(x_train,y_train)

0.8674104333072468

In [28]:
clf.score(x_test,y_test)

0.22483911668331868

In [29]:
res=clf.predict(x_test)

In [30]:
res

array([20132.08      , 15772.68      , 24058.68      , 13658.82      ,
       18063.08      , 16033.53666667,  7045.89      , 19816.16      ,
        9163.83      , 32884.87      , 21224.61      , 11374.31      ,
        8633.36      , 24424.08      , 24103.97      , 35168.09      ,
       25766.6       , 15966.01      , 17659.52      , 14030.05      ,
       12687.58      , 20263.91      , 13447.21      , 22870.15      ,
       10885.52      , 13904.64      , 14994.05      ,  9526.88714286,
       13055.63      ,  7482.74166667, 15084.46      , 13628.98      ,
       15504.07      , 22203.68744286, 20013.07      , 14166.87      ,
        9750.07      , 17981.04      , 10303.43      , 20278.21      ,
       14459.69      , 14764.66      , 13918.66      , 11289.8       ,
       21092.26      , 13031.93      , 12699.75      , 14337.3       ,
       15984.41      , 20192.3       , 18447.13      ,  5964.45      ,
       10887.28166667, 11827.53      , 12678.32      , 12904.44      ,
       16332.67      , 15816.25      , 11547.44      ,  8554.17      ,
       24574.84      , 12848.57      , 21451.62      , 12493.92      ,
       10400.45      , 14948.89      , 10869.69      , 37972.51      ,
       18411.62      , 11812.38      , 12391.8       ,  9308.39      ,
       16892.7       , 12856.04      , 15646.43      ,  9810.94      ,
       12737.92      ,  9291.74      , 12579.63666667, 24790.06      ,
       22260.25      , 15284.6       , 41374.42      , 15407.88      ,
       11563.45      , 14678.06      , 18266.77      , 13954.11      ,
       19243.14      ,  7750.08      , 17286.96      , 21685.95      ,
       13765.66      , 11510.59166667, 17742.75533333, 13502.01      ,
       12010.51      ,  9734.78      , 10379.89      , 14523.92      ,
       22290.79      , 23672.81      , 11528.1       ,  9971.17      ,
       12485.62      , 19275.58533333, 11558.43      , 15110.11      ,
        9376.71      , 11145.51      ,  8910.51      , 24709.18      ,
       15752.75      , 20769.5       , 13888.58      , 21518.89      ,
       14128.75      , 17067.59      , 19445.49      , 20402.54      ,
       17579.6       , 22604.38      , 42453.2       , 17140.22711111,
       11126.36      , 12587.33997619, 18666.41      , 17799.59      ,
       10586.29      , 12314.35      , 12965.32      , 11912.04      ,
        8573.02      , 11941.26      ,  9981.09      , 17406.83      ,
       10097.06      , 16955.186     ,  8164.22      , 20599.35      ,
       17616.21      , 17094.12      , 15887.7       , 23287.46      ,
       10455.6       , 10098.49      , 17235.69      , 12245.2       ,
       15928.69      , 21341.28      ,  8608.2725    , 21896.08714286,
       16824.5       , 18033.46      ,  8006.27      , 22290.79      ,
       12146.26      , 14198.94      ,  7286.69      , 12671.72      ,
       16730.36      , 21674.73      , 18423.97      , 11575.65      ,
       20907.45      , 11506.28      , 16432.92611111, 13815.68      ,
       13869.13      , 24962.39      , 16741.44654762, 19141.55      ,
        6239.44      , 14003.99047619,  8692.03      , 21022.88      ,
       13175.54      , 12735.54      , 12596.63      , 11115.19      ,
       11987.87      , 17904.31      , 15586.9       ,  9818.49      ,
        9186.86      , 13267.6825    , 17844.52      , 12313.03      ,
       14429.3       , 12913.14      ])