In [111]:
import pandas as pd
import numpy as np

In [112]:
df=pd.read_csv('data/car-sales-extended.csv')
df.head()

     Make Colour  Odometer (KM)  Doors  Price
0   Honda  White          35431      4  15323
1     BMW   Blue         192714      5  19943
2   Honda  White          84714      4  28343
3  Toyota  White         154365      4  13434
4  Nissan   Blue         181577      3  14043

In [113]:
df.isna().sum()

Make             0
Colour           0
Odometer (KM)    0
Doors            0
Price            0
dtype: int64

In [115]:
df.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price             int64
dtype: object

In [118]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

feature=['Make','Colour','Doors']

one_hot=OneHotEncoder()

transformer=ColumnTransformer([('one_hot',one_hot,feature)],remainder='passthrough')
x=df.drop('Price',axis=1)
tx=transformer.fit_transform(x)
tx

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 3.54310e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        1.00000e+00, 1.92714e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 8.47140e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 6.66040e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.15883e+05],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.48360e+05]])

In [125]:
data=pd.read_csv('data/car-sales-extended-missing-data.csv')
data.head()
data.dtypes
data.isna().sum()
data.dropna(subset=['Price'],inplace=True)
data.isna().sum()

Make             47
Colour           46
Odometer (KM)    48
Doors            47
Price             0
dtype: int64

In [126]:
x=data.drop('Price',axis=1)
y=data['Price']

In [130]:
x.head()
x.dtypes
x.head()

     Make Colour  Odometer (KM)  Doors
0   Honda  White        35431.0    4.0
1     BMW   Blue       192714.0    5.0
2   Honda  White        84714.0    4.0
3  Toyota  White       154365.0    4.0
4  Nissan   Blue       181577.0    3.0

In [141]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

feature=['Make','Colour','Doors']
one_hot=OneHotEncoder()
transformer=ColumnTransformer([('one_hot',one_hot,feature)],remainder='passthrough')
transformx=transformer.fit_transform(x)
transformx

<950x15 sparse matrix of type '<class 'numpy.float64'>'
	with 3800 stored elements in Compressed Sparse Row format>

In [134]:
x.isna().sum()

Make             47
Colour           46
Odometer (KM)    48
Doors            47
dtype: int64

In [133]:
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer

In [139]:
category_fet=['Make','Colour']
number_fet=['Odometer (KM)']
door_fet=['Doors']

category_imp=SimpleImputer(strategy='constant',fill_value='missing')
number_imp=SimpleImputer(strategy='mean')
door_imp=SimpleImputer(strategy='most_frequent')

transformer=ColumnTransformer([
    ('category_imp',category_imp,category_fet),
    ('number_imp',number_imp,number_fet),
    ('door_imp',door_imp,door_fet)
])

traX=transformer.fit_transform(x)
x=pd.DataFrame(traX,columns=['Make','Colour','Odometer (KM)','Doors'])
x.head()

     Make Colour Odometer (KM) Doors
0   Honda  White         35431     4
1     BMW   Blue        192714     5
2   Honda  White         84714     4
3  Toyota  White        154365     4
4  Nissan   Blue        181577     3

In [140]:
x.isna().sum()

Make             0
Colour           0
Odometer (KM)    0
Doors            0
dtype: int64

In [143]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [146]:
feat=['Make','Colour','Doors']

one_hot=OneHotEncoder()

transf=ColumnTransformer([('one_hot',one_hot,feat)],remainder='passthrough')

tx=transf.fit_transform(x)
x=pd.DataFrame(tx,columns=['Make','Colour','Odometer (KM)','Doors'])

ValueError: Shape of passed values is (1000, 13), indices imply (1000, 4)